doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title Reset
    include link.jade
    script(src='../semantic/jquery.js')
    script(src='../routeur/reset.js')
    script(src='../semantic/regex.js')
    style.
      body {
        background-color: #DADADA;
      }
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
      }
  body
    .ui.middle.aligned.center.aligned.grid
      .column
        h2.ui.teal.image.header
          .content
            | Reset your password
        form.ui.large.form
          .ui.stacked.segment
            .field
              .ui.left.icon.input
                i.user.icon
                input#login(type='text', name='login', placeholder='Login')
            .field
              .ui.left.icon.input
                i.lock.icon
                input#new_passwd(type='password', name='passwd', placeholder='New Password')
            button(type="submit").ui.fluid.large.teal.submit.button Reset
          .ui.error.message
        .ui.message
          a(href='/') Back to home
